* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root{
      --mainBlack: #021B27;
      --mainDarkBlue: #03273A;
      --lightBlue: #086D9B;
      --mainWhite: #ffffff;
      --lightWhite: #fffef8;
      /* --accentPink: #FF8587; */
      --accentPink: #FF999B;
      --mainFont: 'Metrophobic', sans-serif;
      --headingFont: 'Montserrat', sans-serif; 
      --accentFont: 'Cardo', serif;
  }
  /*  accent font: font-family: 'Cardo', serif;
  text: font-family: 'Metrophobic', sans-serif;
  Headings: font-family: 'Montserrat', sans-serif; */
 body{
     background-color: var(--mainDarkBlue);
     color: var(--mainWhite);
 }
  p,h3, a {
    font-family: var(--mainFont);
  }
  h2,h1{
    font-family: var(--headingFont);
  }
  h4{
    margin-top: 1rem;
    font-family: var(--accentFont);
  }
  #about h3{
      margin-top: 0.25rem
    }
      
  #project-list h3 {
    text-align: center;
    margin: 0.2rem;
    color: var(--lightWhite);
  }
  #about {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  #about h2,h1, .about-project h2{
    color: var(--accentPink);
  }
  .about-project h1{
    text-align: center;
    margin: 1rem;
  }
  .about-links{
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  .about-project p{
    margin-bottom: 2rem;
  }
  #about > *:not(:last-child){
    margin-bottom: 2rem;
  }
  
  header{
    background-color: var(--mainBlack);
    grid-area: 1 / 1 / 2 / 6;
    padding: 1rem 2rem;
    display: flex;
  }
  #other-links ul {
    display: flex;
    margin-top: 0.5rem;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  #links ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
  }
  #links a,
  #other-links a, .about-project a {
    color: var(--mainWhite);
    text-decoration: none;
    margin-right: 2rem;
  }
  #other-links a:hover{
    color: var(--mainWhite);
    margin-right: 2rem;
    text-decoration: underline;
    text-decoration-color: var(--accentPink);
    text-decoration-thickness: 2px;


  }
  #links a:hover {
    text-decoration: underline;
    text-decoration-color: var(--accentPink);
    text-decoration-thickness: 3px;
  }
  #project-list {
      margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
  }
  
  #buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  #buttons a {
    text-decoration: none;
    color:var(--lightWhite);
    padding: 10px;
  }
  #buttons a:hover {
    text-decoration: underline;
  }
  .project {
    background-color: #054461;
    box-shadow: 2px 2px 3px 0px rgba(1,14,19,1);;
    width: 220px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
  }
  .project:hover {
    transform: scale(1.05);
  }
  .screenshot {
    /* background-image: url("https://picsum.photos/id/1019/220"); */
    background-repeat: no-repeat;
    background-size: auto;
    height: 150px;

  }
  
  @media screen and (min-width: 800px) {
    body {
      /* background-color: grey; */
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 0.25fr repeat(3, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
    #about {
      grid-area: 2 / 1 / 6 / 3;
    }
    .about-project{
      grid-area: 2 / 2 / 6 / 5;
    }
    #project-list {
      grid-area: 2 / 3 / 5 / 6;
    }
  }
  @media screen and (min-width: 1200px) {
    body {
      /* background-color: #04151F; */
      /* color: whitesmoke; */
      /*     align-items: center; */
    }
    #about {
      /*     justify-items: center; */
      /* border: solid black 2px; */
    }
    #project-list {
      /* border: solid lime 2px; */
    }
  }
  

  /* modal */
  .modal{
    visibility: hidden;
    position: absolute;
    z-index: -1000;
    top: 10%;
    background-color: var(--mainWhite);
    color: var(--mainBlack);
    border: solid 2px var(--mainBlack);
    width: 75%;
    margin-left: 15%;
    padding: 2rem;
  }
  .modal img {
    float: left;
    margin: 1rem 1rem 0;
  }
  #modal-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
  .modal h3{
    font-family: var(--accentFont);
    color: var(--mainDarkBlue);
  }

  .info{
    margin: 1rem;
  /*   border: solid lime 2px; */
  }
  .info.project-title{
    text-align: center;
  }
  .close-button{
    font-size: 28px;
    margin: -2rem -2rem 10px 0;
    padding: 0 0.5rem;
    float: right;
  }
  .close-button:hover{
    color: var(--accentPink);
  }
  .modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 1rem;
  /*   border: solid black 2px; */
  }
  .modal-buttons a{
    margin: 0 1rem 1rem 0;
  }

  .showModal{
        visibility: visible;
      z-index: 1000;
  }
  #buttons button{
      background-color: transparent;
      border: none;
      padding: 0;
      margin: 0;
      font-size: 1rem;
      color: var(--mainWhite)
  }
  #buttons button:hover{
    text-decoration: underline;
  }